<%= render 'application/navbar' %>

<div class="container">
  <div class="py-2 text-center">
    <h1><%= @list.name %></h1>
  </div>
  <hr>
  <hr>
  <div class="py-2 text-center">
    <%= link_to "Add movie to list"%>
  </div>
</div>
