// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

.card {
  position: relative;
  background-size: cover;
}

.card-inner {
  position: absolute;
  padding: 1rem 1.3rem 1rem 1rem;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  color: white;
  z-index: 1;
  transition: all 0.4s ease 0s;
  opacity: 0;
}

.card:hover .card-inner {
  opacity: 1;
}
