<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
  <a class="btn btn-outline-primary" href="<%= movies_path %>" style="margin-left: 10px">View All Movies</a>
  <a class="navbar-brand" href="<%= lists_path%>" style="margin-left: 10px">Movies Watchlist</a>
  <a class="btn btn-outline-primary" href="<%= new_list_path %>" style="margin-right: 10px">Create a new list</a>
</nav>
